
.page {
    margin-top: var(--navbar-height);
}


.vhalign, .vh-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fill-container {
    width: 100%;
    height: 100%;
}



.right-align, .align-right {
    text-align: right;
}

.center-align, .center-right {
    text-align: center ;
}